
<div class="container" >
  <div class="show">
    <%= simple_form_for :session, as: :new_session, url: session_path do |f| %>
    <h3>Sign in</h3>
      <%= f.input :email %>
      <%= f.input :password %>
    <%= f.button :submit,"Sign In", class: 'btn-primary btn'  %>
    <% end %>
  </div>
</div>
