
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

//  @import "materialize/components/color";
// $primary-color: color("white", "teal") !default;
// $secondary-color: color("teal", "teal") !default;
// @import 'materialize';
@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
font-family: Helvetica;
}

form .btn {
  background-color: #FF1C36;
  border: #FF1C36;
}

.btn:hover {
  background-color: red;
}

.form-row {
    display: flex;
    margin: 20px 0 20px 0;
}

.banner-content p {
  flex: 1;
  padding: 40px;
}

.near {
  flex: 1;
}

.nav .btn {
  border: none;
  padding: 10px 15px 10px 15px;
  margin: auto;
}
.navbar {
  background-color: white;
  border: none;
}
.login {
  color: #FF1C36;
}

.nav li a:hover{
background-color: white;
color: #FF1C36;
}

.hello {
  margin-top: 15px;
}

.fa {
  font-size: 20px;
}

.container {
  display: flex;
}

.show {
  margin: auto;
  flex: 1;
}

.edit {
  margin: auto;
  flex: 1;
  padding: 10px 200px 10px 200px;
}

.change-password {
  margin: auto;
  flex: 1;
  padding: 10px 200px 10px 200px;
}

.reviews {
  margin: 20px;
}

.find-deals {
  padding: 10px 30px 10px 30px;
  letter-spacing: 2px;
}

.logo {
  width: 80px;
}
