
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
$primary-color: color("white", "teal") !default;
$secondary-color: color("teal", "teal") !default;
@import 'materialize';
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  position: relative;
  z-index: 10;
  padding: 10px;
  background: white;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}
 .navbar ul li a:link {
  font-size: 17px;
  text-decoration: none;
}
  .navbar ul li a {
  color: #FF6B00;
  opacity: 1;
  padding-right: 20px;
}

.navbar li {
  font-size: 17px;
}

.signup {
  color: white;
  border: thin #FF6B00 solid;
  padding: 5px;
  margin: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #FF6B00;
}

.signup:hover {
  color: #FF6B00;
  text-decoration: none;
  background: white;

}

.fa {
  font-size: 20px;
}

.showplace-container {
  display: flex;
  margin-top: 40px;
}

.show-place {
  margin: auto;
}

.placeslist-container {
  display: flex;
}

.places-list {
  margin: auto;
}

.newplace-container {
  display: flex;
}

.new-place {
  margin: auto;
}

.newuser-container {
  display: flex;
}
.new-user {
  margin: auto;
}

.newsession-container {
  display: flex;
}

.new-session {
  margin: auto;
}


.edit {
  float: left;
  padding: 40px;
  margin-top: 50px;
}

.change-password {
  float: left;
  padding: 40px;
  margin-top: 50px;
}

.reviews {
  margin: 20px;
}

.map {
  width: 100%;
  position: absolute;
}

.form {
  z-index: 100;
  margin: auto;
  margin-top: 150px;
}

.banner {
  position: relative;
  display: flex;
  min-height: auto;
}

.banner p {
  color: white;
  margin: 50px;
}
