
.container  {
  padding: 70px;
}


button {
  border: none;
  background-color: white;
}

button .fa {
  font-size: 20px;
}

button .fa:hover {
color: red;
}

.posts {
  margin-top: 40px;
}

.buttons .left {
  float:left
}

.buttons .right {
  float:right
}

footer .fa {
  font-size: 30px;
  padding: 20px;
  margin-top: 20px;
}

footer .fa:hover {
  color: red;
}

footer .foot {
    margin: auto;
}

footer {
  background-color: lightgrey;
  display: flex;
  margin-top: 40px;
}


.summary-long {
  margin: 20px 140px 20px 140px;
}

@media screen and (max-width: 600px) {
  .summary-long {
    margin: 10px 10px 10px 10px ;
  }
}

.right button {
  float: right;
}

.right p {
  float: right
}

.hello {
  padding-top: 15px;
}
