
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

//  @import "materialize/components/color";
// $primary-color: color("white", "teal") !default;
// $secondary-color: color("teal", "teal") !default;
// @import 'materialize';
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
font-family: Helvetica;
}

form .btn {
  background-color: #FF1C36;
  border: #FF1C36;
}

form .btn:hover {
  background-color: #C62842;
}


#map {
  height: 300px;
  width: 80%;
}

.map-row {
    margin: 20px 40px 20px 40px;
}

.buttons {
  margin-top: 15px;

}



.FixedHeightContainer
{
  height: 400px;
  padding:3px;
  overflow: scroll;
  margin: 20px 0;
}

.FixedHeightContainer::-webkit-scrollbar {
    width: 1em;
}

.FixedHeightContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset;
}

.FixedHeightContainer::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  outline: 1px solid slategrey;
}

.form-row {
    display: flex;
    margin: 100px 40px 20px 50px;

}

.search {
  // flex: 1;
  width: 100%;
}



.price {
  background: #FF1C36;
  padding-left: 20px;
  width: 70px;
  top: 0;
}

.title {
  background: rgba(0, 0, 0, 0.4);
  padding-left: 20px;
  bottom: 0;

}

.btn-inf {
  background-color: grey;
  border: none;

}

.title-text:hover {
  color: grey;
  text-decoration: none;
}

li:hover {
  color: #FF1C36;
}

.title-text {
  color: white;
  font-size: 25px;
    text-decoration: none;
}

.banner {
  background-image:    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('stock.jpg');
  height: 700px;
  background-size: cover;
  background-clip: content-box;
  position: relative;
  margin-top: -300px;
}

.searched-posts {
  margin: auto;
  background-size: cover;
  background-clip: content-box;
  position: relative;

}

.user-show {

  width: 300px;
  background-size: cover;
  background-clip: content-box;
  position: relative;
}

.post-show {
  margin: 10px;
  height: 180px;
  width: 400px;
  background-size: cover;
  background-clip: content-box;
  position: relative;
}

.nearby-show {

  height: 180px;
  width: 300px;
  background-size: cover;
  background-clip: content-box;
  position: relative;
}

.user-posts {

  height: 180px;
  width: 300px;
  margin: auto;
  background-size: cover;
  background-clip: content-box;
  position: relative;
}


.overlay-text {
  position: absolute;
}


.navbar {
z-index: 20;
  border: none;
  background-color: rgba(255, 255, 255, 0.0)

}

.fa {
  font-size: 20px;
}

.collapse .navbar-collapse {
  background-color: red;
}

.find-deals {

  letter-spacing: 2px;
  width: 30%;
}


.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #3344ff;
    color:#ffffff;
  }
.each-post {
  display: flex;
}

.post-image {
  flex: 1;
}

.text {
  flex: 4;
}

.grey-row {
  background-color: #DBDBDB;
  height: 300px;
  position: relative;
}

.show {
  display: flex;
  margin: 30px;
}

.row {
  flex: 1;
}

.post-details {
  margin: 0 30px 0 30px;
  text-align: left;
  padding: 20px 0 20px 60px;
  margin: auto;
  border-radius: 20px;
}

footer {
  height: 200px;
  width: 100%;
  background-color: #FF1C36;
  margin-top: 20px;
}

a .social {
  font-size: 40px;
  padding: 30px;
  float: left;
  color: white;
}
